<div style="margin-top: 10%; left: 15%; width: 70%; align-items: center; text-align: center;">
    <h1 style="text-align: center; font-size: 150%; font-family: 'Koulen', cursive; left: 15%; margin-bottom: 10%; margin-left: 30%">Please select a role </h1>

    <div class="card" style="width: 18rem; display: inline-block; float: left; left: 15%;">
        <img src="../../../assets/donate.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Administrative Role</h5>
            <p class="card-text">Select this role if you are currently an authorized hub administrator. Our database covers all the hubs from every region of Ukraine.</p>
            <button class="btn btn-primary" (click)="admin()">Join as Administrator</button>
        </div>
    </div>

    <div class="card" style="width: 18rem; display: inline-block; float: right; right: -15%;">
        <img src="../../../assets/admin.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Make a donation</h5>
          <p class="card-text">Select this role if you want to make a donation to one of the volunteering hubs in Ukraine. The hubs are located all over the country.</p>
          <!-- <a href="#"> -->
            <button class="btn btn-primary" (click)="volunteer()">Join as Donor</button>
            <!-- </a> -->
        </div>
    </div>
    
</div>>
