.pageTitle {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 40vw;
    left: 0vw;
    font-size: 200%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

body {
    background-color: #f7f7f0;
}

.countryLine {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    width: 60vw;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10vh;
    left: 0vw;
}