<div class="bkgr"></div>

<h1 style="width: 50%; left: 25%; top: 40%; color: gold; position: absolute; text-align: center; font-size: 350%; font-family: 'Koulen', cursive;">Welcome to Help4Ukraine</h1>

<h2 style="width: 50%; left: 25%; top: 60%; color: darkblue; position: absolute; text-align: center; font-size: 250%; font-family: 'Koulen', cursive;">Log in to continue</h2>

<a routerLink="/select-role"><button *ngIf="isLogged"
type="button" class="btn btn-outline-primary"
style="width: 20%; left: 40%; top: 70%; color: white; position: absolute; text-align: center; font-size: 100%; font-family: 'Mochiy Pop P One', sans-serif;">Continue</button>
</a>